.map-container {
    position: absolute;
    /* top: 80px; Navbar height */
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 80px); /* Fallback height */
}

/* .mapboxgl-control-container {
    z-index: 2;
    position: relative;
} */

.mapboxgl-popup-close-button {
    font-size: x-large;
    color: darkred;
}