/* ! color of navbar */
.navbar {
	height: 80px;
	background-color: #125b49;
	background-image: linear-gradient(#0f4738, #125b49);
	position: relative;
	z-index: 5;
}

.container {
	position: relative;
	display: flex;
	max-width: 100vw;
	margin: 0 auto;
	padding: 0 15px;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 1;
	height: 100%;
	z-index: 5;
}

/* aligns the logo to be vertically centered in the navbar */
/* .logo {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
} */

/* don't display the hamburger menu on desktop */
.menuIcon {
	display: none;
}

/* makes the list horizontal and removes dots */
.navElements ul {
	display: flex;
	flex-shrink: 1;
	justify-content: space-between;
	list-style-type: none;
	align-items: baseline;
}

/* adds some spacing to the right side of every link in the navbar aside from the last one */
.navElements ul li:not(:last-child) {
	margin-right: 45px;
}

/* ! colors for the text in unhovered links */
/* styles the text in the links */
.navElements ul a {
	font-size: 18px;
	font-weight: 600;
	padding: 8px 10px;
	color: #eceabe;
	border-radius: 15px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

/* ! colors for the hovered links */
/* for the hover effects on the text */
.navElements ul a:hover {
	color: #aadd66;
	background-color: #003527;
	/* box-shadow: inset 0 0 0 2px #266944; */
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

/* ! colors for the clicked links */
.navElements ul a:active {
	color: #aadd66;
	background-color: #003527;
	border-radius: 15px;
	box-shadow: inset 0 0 0 2px #051914;
	transition: box-shadow 0.2s ease-in-out;
}

/* ! colors for the active links */
/* style for the active link */
.navElements a.active {
	color: #081914;
	background-color: #aadd66;
	border-radius: 15px;
	box-shadow: 0 0 5px 2px #00000065;
}

.svgIcon {
	position: relative;
	width: 35px;
	padding-right: 10px;
}

.icon,
.text {
	vertical-align: middle;
	display: inline-block;
}

@media screen and (max-width: 1380px) {
	.logo {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 4px;
		max-width: 90%;
	}

	.navElements ul li:not(:last-child) {
		margin-right: 10px;
	}
}

/* for when screen width is below 1000 pixels */
@media screen and (max-width: 1000px) {
	.navElements ul a {
		color: #125b49;
	}

	.menuIcon {
		display: flex;
		cursor: pointer;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 48px;
		height: 48px;
	}

	.navElements {
		position: absolute;
		margin: 5px;
		border-radius: 15px;
		right: 0;
		top: 80px;
		background-color: #eceabe;
		width: 0px;
		height: 285px;
		transition: all 0.25s ease-in-out;
		overflow: hidden;
		z-index: 2;
	}

	.active {
		width: 270px;
	}

	.navElements ul {
		display: flex;
		flex-direction: column;
		padding-left: 20px;
	}

	.navElements ul li {
		margin-right: unset;
		margin-top: 22px;
	}
}
