.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  height: 80px;
  background-color: #3FAE6F;
  position: relative;
}


.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4px;
}

.menuIcon {
  display: none;
}

/* .navElements {}

.active {} */

/* makes the list horizontal and removes dots */
.navElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: baseline;
}

.navElements ul li:not(:last-child) {
  margin-right: 60px;
}

/* for the link text */
.navElements ul a {
  font-size: 20px;
  font-weight: 600;
  color: #262322;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* for the active link */
.navElements a.active {
  color: #E6E2D3;
}

/* for the sign-up/in button */
#account-button {
  background-color: #262322;
  padding: 8px 10px;
  border-radius: 15px;
}

/* for the text in the sign-up/in button */
#account-button a {
  color: #E6E2D3;
}

/* @media (max-width: 768px) {
  .navElements ul li:not(:last-child) {
    margin-right: 30px;
  }
} */

/* for when screen width is below 1150 pixels */
@media (max-width: 1150px) {
  .menuIcon {
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 48px;
    height: 48px;
  }

  .navElements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #E6E2D3;
    width: 0px;
    height: calc(100vh - 80px);
    transition: all 0.25s ease-in-out;
    overflow: hidden;
    z-index: 2;
  }

  .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4px;
  }

  .active {
    width: 270px;
  }

  .navElements ul {
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  /* for the active link */
  .navElements a.active {
    font-weight: 800;
    color: #262322;
    text-decoration: solid underline #262322 3px;
  }
}